<%= form_for(@recipe, html: { multipart: true }) do |f| %>
			  <%= render 'shared/error_messages', object: f.object  %>
  		<div class="col-md-9" id="form-recipe">
   
      		<%= f.label :label %>
      		<%= f.text_field :label,  class: 'form-control' %>

					<%= f.label :element %>
					<%= f.object.element%>
					<% if f.object.element.nil? %>
					 	<%= f.select(:element, options_for_select( [ 'Starter', 'Main', 'Dessert' ]), class: 'form-control' ) %>				
					<% else %>
				 		<%= f.select(:element, options_for_select( [ 'Starter', 'Main', 'Dessert' ], f.object.element || default_value), class: 'form-control' ) %>
 					<% end %>
      		<%= f.label :ingredient%>
      		<%= f.text_field :ingredient, class: 'form-control' %>

   	   		<%= f.label :description %>
      		<%= f.text_field :description, class: 'form-control'%>

						<%= f.label :picture %>
			    	<%= f.file_field :picture  %>
			
      			<%= f.label :video %>
      			<%= f.file_field :video %>

      	<%= f.submit "Save  my recipe", class: "btn btn-primary" %>

      </div>
 <% end %>