<% provide(:title, "Recipe") %>

<div class="container-fluid col-md-9">
	
  	<% @recipes.each_slice(3) do |recipes| %>
  		<div class="row">	
  			<% recipes.each do |recipe| %>
	  			<div class="card col-md-4" style="padding: 10px">
					  <%= image_tag recipe.picture.url if recipe.picture? %>
					  <div class="card-block" style="border: solid; border-width:  1px;border-color: $grey-light">
					    <h4 class="card-title"><%=recipe.label%></h4>
					    <a href="<%=recipe_path(recipe.id)%>" class="btn btn-primary" style="alignment-adjust: center">Detail</a>
					  </div>
					</div>
				<% end %>
				</br>
    </div> 
 
		<% end %>	
</div>



