<% provide(:title, "Recipe") %>
<div class="col-md-9">

				<p><%=@recipe.label%>	</p>
				<p><%=@recipe.element%>	</p>  
				<p><%=@recipe.ingredient%>	</p>  
				<p><%=@recipe.description%>	</p>  
				<span> <%= image_tag @recipe.picture.url if @recipe.picture? %></span>
				<hr>
				<% if  current_user %>
						<% if current_user.admin? || current_user.id == @recipe.user_id %>
		  			<a><%= link_to "edit", edit_recipe_path()  %></a>		
		  			<a><%= link_to "delete", @recipe, method: :delete,
                                  data: { confirm: "You sure?" } %></a>
        	<% end %>                          
        <%end%>  
</div>
