<% provide(:title, 'All users') %>

<div class="col-md-9 ">
	<h1>All users</h1>
	<%= will_paginate %>
	<ul class="users">
	  <% @users.each do |user| %>
	    <%= render user %>
	  <% end %>
	</ul>
	<%= will_paginate %>
</div>
