<% provide(:title, @user.name) %>

<div class="col-md-9">
	<div class="card">
		<img class="card-img-top" alt="Card image cap" data-src=<%= gravatar_for @user %>
		<h4 class="card-tittle"><%= @user.name%></h4>
		<p class="card-test">Admin: <%= @user.admin%></p>
		<p class="card-test">Activated: <%= @user.activated%></p>
		<p class="card-test">User_id: <%= @user.id%></p>
	</div>
</div>
