<footer class="footer">
  <small>
			<p>Copyright 2016 - www.berrada.net </p>
  </small>
  <nav>
    <ul>
			<a href="mailto:karim@berrada.net"><span class="glyphicon glyphicon-envelope"> </span></a>
			<a href="mailto:karim@berrada.net">karim@berrada.net</a>
		</ul>
	</nav>
</footer>