

<%current_uri = request.env['PATH_INFO']%>

<% if current_uri.include?  "recipe" %>

			<div class="list-group">
						<a href="<%=recipes_path%>" class="list-group-item">All</a>
						<a href="<%=recipes_path%>?element_url=Starter" class="list-group-item">Starter</a>
						<a href="<%=recipes_path%>?element_url=Main" class="list-group-item">Main</a>
						<a href="<%=recipes_path%>?element_url=Dessert" class="list-group-item">Dessert</a>
						<% if current_user %>
							<a href="<%=new_recipe_path%>" class="list-group-item">Add Recipe </a>		
						<%end%>
			</div>

<% else %>
	<% if logged_in? %>
		<% if current_uri.include? "user"%>
					<div class="list-group">
								<a href="<%=users_path%>" class="list-group-item"> All Users</a>
								<a href="<%=user_path(current_user)%>" class="list-group-item">Profile Detail</a>
								<a href="<%=edit_user_path(current_user)%>" class="list-group-item">Edit Profile</a>
					</div>
			<% end %>		
	<% else %>
		<div class="col-md-2">
			<p> Sign up small form</p>
		</div>	
	<% end %>
<% end %>
